<nav>
	<a routerLink="/">Etusivu</a> | <a routerLink="/hae">Etsi kirjoja</a> | <a routerLink="/ostoskori">Ostoskori</a> |
	<ng-container *ngIf="(kirjautunut$ | async) === true">
		<a *ngIf="(rooli$ | async) === 'admin'" routerLink="/uusi/teos">Lisää teos</a>
		<a *ngIf="(rooli$ | async) === 'divariAdmin'" routerLink="/divari">Divari</a>
		<span *ngIf="(rooli$ | async) === 'admin' || (rooli$ | async) === 'divariAdmin'">|</span>
		<a routerLink="/" (click)="kirjauduUlos()">Kirjaudu ulos</a>
	</ng-container>
	<a *ngIf="(kirjautunut$ | async) === false" routerLink="/kirjaudu">Kirjaudu sisään</a>
</nav>
<app-notification></app-notification>
<router-outlet></router-outlet>
