<div class="login-container">
	<h2>Kirjaudu sisään</h2>

	<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
		<div class="form-group">
			<label for="email">Sähköposti:</label>
			<input type="email" formControlName="email" class="form-control" id="email" name="email" required />

			<label for="password">Salasana:</label>
			<input type="password" formControlName="salasana" class="form-control" id="password" name="password" required />

			<button type="submit">Kirjaudu</button>
		</div>
	</form>
	<a routerLink="/rekisteröidy">Rekisteröidy</a>
</div>
