<!--Ostoskorisivu-->
<div class="cart-container">
	<h2>Ostoskori</h2>

	<ul class="cart-list">
		<li *ngFor="let tuote of ostoskoriTuotteet$ | async" class="cart-item">
			<div class="cart-item-details">
				<div class="item-title">{{ tuote.teos.nimi }}</div>
				<div class="item-meta">
					<span
						>Kunto: <strong>{{ tuote.teosInstanssi.kunto }}</strong></span
					>
					|
					<span
						>Myyjä: <strong>{{ tuote.teosInstanssi.divari }}</strong></span
					>
				</div>
			</div>
			<div class="item-price">{{ tuote.teosInstanssi.hinta }} €</div>
			<button class="btn btn-remove" (click)="poistaOstoskorista(tuote)">Poista</button>
		</li>
	</ul>

	<h3 class="cart-total">Kokonaissumma: {{ yhteensa$ | async }} €</h3>

	<div class="cart-actions">
		<button class="btn btn-secondary" (click)="tyhjennaOstoskori()">Tyhjennä ostoskori</button>

		<ng-container *ngIf="(kirjautunut$ | async) === true; else loginButton">
			<ng-container *ngIf="ostoskoriTuotteet$ | async as ostoskoriTuotteet">
				<button *ngIf="ostoskoriTuotteet.length > 0" class="btn btn-primary" (click)="tilaa()">Tilaa</button>
			</ng-container>
		</ng-container>

		<ng-template #loginButton>
			<ng-container *ngIf="ostoskoriTuotteet$ | async as ostoskoriTuotteet">
				<button *ngIf="ostoskoriTuotteet.length > 0" class="btn btn-primary" routerLink="/kirjaudu">Kirjaudu sisään tilataksesi</button>
			</ng-container>
		</ng-template>
	</div>
</div>
